<div class="container my-5">
  <div class="button-group d-flex justify-content-around">
    <a href="/" class="btn btn-dark btn-lg" role="button">GET /</a>
    <a href="/new" class="btn btn-dark btn-lg" role="button">GET /new</a>
    <a href="/{{ id }}" class="btn btn-dark btn-lg" role="button">GET /:id</a>
    <form action="/" method="POST">
      <button class="btn btn-dark btn-lg" type="submit">POST /</button>
    </form>
  </div>
</div>